{% extends 'base.html.twig' %}

{% block title %}CAR VIN DATABASE{% endblock %}

{% block body %}

<div class="container">
    <a href="{{ path('car_add') }}">Add car</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Engine</th>
            <th scope="col">Horse power</th>
            <th scope="col">Vin</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for car in cars %}
        <tr>
            <td scope="row">{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.engine }}</td>
            <td>{{ car.horsePower }}</td>
            <td>{{ car.vin }}</td>
            <td><button onclick="location.href='{{ path('car_delete', {'id':car.id}) }}';" class="bg-danger">DELETE</button></td>
        </tr>
        {% endfor %}
    </table>
    {{ knp_pagination_render(cars) }}
</div>

{% endblock %}
